# Shopify
SHOPIFY_API_VERSION=2026-01

SEED_DEV_STORE_APP_CLIENT_ID=
SEED_DEV_STORE_APP_CLIENT_SECRET=

SEED_STAGING_APP_CLIENT_ID=
SEED_STAGING_APP_CLIENT_SECRET=

SEED_DEV_STORE_APP_CLIENT_ID=
SEED_DEV_STORE_APP_CLIENT_SECRET=

ITALIST_SHOP_APP_CLIENT_ID=
ITALIST_SHOP_APP_CLIENT_SECRET=

# Recharge
SEED_STAGING_RECHARGE_API_TOKEN=
